@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p4s4to');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p4s4to#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p4s4to') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p4s4to') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p4s4to##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_clock {
  &:before {
    content: $icon_clock; 
  }
}
.icon_check {
  &:before {
    content: $icon_check; 
  }
}
.icon_yelp {
  &:before {
    content: $icon_yelp; 
  }
}
.icon_Instagram {
  &:before {
    content: $icon_Instagram; 
  }
}
.icon_star {
  &:before {
    content: $icon_star; 
  }
}
.icon_polygon {
  &:before {
    content: $icon_polygon; 
  }
}
.icon_house {
  &:before {
    content: $icon_house; 
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook; 
  }
}
.icon_calendar {
  &:before {
    content: $icon_calendar; 
  }
}
.icon_arrow_left {
  &:before {
    content: $icon_arrow_left; 
  }
}
.icon_arrow_right {
  &:before {
    content: $icon_arrow_right; 
  }
}
.icon_arrow_long_left {
  &:before {
    content: $icon_arrow_long_left; 
  }
}
.icon_Patharrow_long_right {
  &:before {
    content: $icon_Patharrow_long_right; 
  }
}

