@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p4s4to');
  src:  url('fonts/icomoon.eot?p4s4to#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p4s4to') format('truetype'),
    url('fonts/icomoon.woff?p4s4to') format('woff'),
    url('fonts/icomoon.svg?p4s4to#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_clock:before {
  content: "\e900";
}
.icon_check:before {
  content: "\e901";
}
.icon_yelp:before {
  content: "\e902";
}
.icon_Instagram:before {
  content: "\e903";
}
.icon_star:before {
  content: "\e904";
}
.icon_polygon:before {
  content: "\e905";
}
.icon_house:before {
  content: "\e906";
}
.icon_facebook:before {
  content: "\e907";
}
.icon_calendar:before {
  content: "\e908";
}
.icon_arrow_left:before {
  content: "\e909";
}
.icon_arrow_right:before {
  content: "\e90a";
}
.icon_arrow_long_left:before {
  content: "\e90b";
}
.icon_Patharrow_long_right:before {
  content: "\e90c";
}
