$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_clock: "\e900";
$icon_check: "\e901";
$icon_yelp: "\e902";
$icon_Instagram: "\e903";
$icon_star: "\e904";
$icon_polygon: "\e905";
$icon_house: "\e906";
$icon_facebook: "\e907";
$icon_calendar: "\e908";
$icon_arrow_left: "\e909";
$icon_arrow_right: "\e90a";
$icon_arrow_long_left: "\e90b";
$icon_Patharrow_long_right: "\e90c";

