.blog {
    @media (min-width: 768px) {
        padding-bottom: 0;
    }

    &__cat {}

    &__grid {
        margin: 1em 0;

        @media (min-width: 768px) {
            margin: 6.875em 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1.25em;
            grid-row-gap: 5em;

        }
    }

    &__item {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 0;
            // START FULL ITEM
            &:nth-child(5) {
                position: relative;
                overflow: hidden;
                grid-column-start: 1;
                grid-column-end: 3;
                margin: 2.5em -15.0625em;

                .blog__bg {
                    position: absolute;
                    top: 0;
                    left: 1.25em;
                    bottom: 0;
                    height: auto;

                    @media (min-width: 768px) {
                        width: 59.375em;
                    }

                    .blog__hashtag {
                        display: none;
                    }
                }

                .blog__link {
                    display: none;
                }

                .blog__btn {
                    display: block;
                }

                .blog__left {
                    .blog__hashtag {
                        display: block;
                    }
                }

                .blog__content {
                    display: block;
                    margin-left: auto;
                    padding: 5.3125em 7.5em;

                    background-color: $main_color;

                    @media (min-width: 768px) {
                        width: 59.375em;
                    }
                }

                .blog__title {
                    font-family: $second_font_family;
                    font-weight: 400;
                    font-size: 1em;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    line-height: 1.675;

                    span {
                        color: $color_white;
                        font-size: 1em;

                        @media (min-width: 768px) {
                            font-size: 1.5em;
                        }
                    }
                }

                .blog__excerpt {
                    margin-top: 2em;
                    line-height: 1.25;

                    span {
                        color: $color_white;
                    }
                }

                .blog__right {
                    margin-top: 3.125em;
                }

                .blog__date,
                .blog__time {
                    &:before {
                        color: $color_white;
                    }

                    span {

                        color: $color_white;
                    }
                }
            }
            // END FULL ITEM
        }
    }

    &__bg {
        height: 12.5em;
        padding: 1em;

        @media (min-width: 768px) {
            height: 25em;
            padding: 2em;
        }
    }

    &__hashtag {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        font-size: 0.75em;
        @media (min-width: 768px) {
            font-size: 1em;
        }

        span {
            display: inline-block;
            padding: 0.1864em 0.813em;
            border-radius: 6.25em;

            font-size: 0.875em;
            font-weight: 600;

            background-color: $color_white;
        }

    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__left {
        .blog__hashtag {
            display: none;
        }

        @media (min-width: 768px) {
            width: 31.25em;
            flex: none;
        }
    }

    &__title {
        text-transform: uppercase;

        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }

        span {
            font-weight: 600;
            color: $main_color;
            font-size: 1em;
            @media (min-width: 768px) {
                font-size: 1.125em;

            }
        }
    }

    &__excerpt {
        margin-top: 0.25em;
        line-height: 1.1;
        @media (min-width: 768px) {
            margin-top: 1.25em;
            min-height: 2.1875em;
        }

        span {
            font-size: 0.75em;
            color: #77858A;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__right {
        .blog__btn {
            display: none;
        }

        display: flex;
        align-items: center;

        margin-top: 0.75em;
        font-size: 0.75em;

        @media (min-width: 768px) {
            margin-top: 2.5em;
            font-size: 1em;
        }

        > * {
            margin-right: 3em;

            &:last-child {
                margin-right: 0;
            }
        }

    }

    &__link {
        text-transform: uppercase;
        margin-top: 0.5em;
        text-align: right;
        margin-right: 2em;

        @media (min-width: 768px) {
            margin-top: 2em;
            text-align: left;
            margin-right: 0;
        }

        a {
            position: relative;
            font-size: 0.875em;
            font-style: italic;
            font-weight: 700;
            color: $color_info;

            text-decoration: none;

            &:after {
                position: absolute;
                top: 50%;
                transform: translateY(-44%);
                right: -2.5em;

                content: '\e905';
                font-family: 'icomoon';
                font-weight: 400;
                font-style: normal;
                font-size: 0.8em;
                margin-left: 1.5em;

            }
        }
    }

    &__time {
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;

        &:before {
            display: inline-block;
            content: '\e900';
            font-family: 'icomoon';
            font-size: 1.25em;
            margin-right: 0.5em;
            color: #607076;
            line-height: 1;
        }

        span {
            font-size: 0.875em;
            color: #607076;

        }
    }

    &__date {
        span {
            font-size: 0.875em;
            color: #607076;

        }
    }

}
