.feedback {

    background-color: $main_color;
    color: $color_white;
    padding: 2.5em 0 4em;
    @media (min-width: 768px) {
        padding: 6em 0 8.75em;

    }

    &__form {
        margin-top: 2.5em;
        @media (min-width: 768px) {
            margin-top: 4.0625em;

        }
    }

}

.form {
    &__content {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__list {
        @media (min-width: 768px) {
            width: 45.625em;
        }
    }

    &__img {
        @media (min-width: 768px) {
            flex-grow: 1;
            border-radius: 0.625em;
            overflow: hidden;
            margin-left: 0.625em;
        }
    }

    &__item {
        background-color: $color_white;
        border-radius: 0.625em;
        margin-bottom: 0.625em;

        &:last-child {
            margin-bottom: 0;
        }
        padding: 2.25em 1.75em 1.375em;
        font-size: 0.75em;

        @media (min-width: 768px) {
            font-size: 1em;
        }
    }

    &__label {
        text-transform: uppercase;

        span {
            font-size: 1.125em;
            font-weight: 600;
            color: $main_color;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;

        margin: 0.875em -0.5625em 0;

        .form__row {
            margin: 0 0.5625em 0.75em;
            width: 100%;

            @media (min-width: 768px) {
                width: calc(50% - 1.125em);
            }

            &_full {
                width: 100%;
            }
        }
    }

    &__row {
        margin-bottom: 1em;

        .btn,
        input:not([type]),
        input[type=date],
        input[type=email],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=tel],
        input[type=text],
        input[type=url],
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 7.5em;
            resize: vertical;
        }
    }

    &__group {
        margin-top: 1.375em;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__check {
        display: flex;
        align-items: center;

        margin-bottom: 1em;
        cursor: pointer;

        @media (min-width: 768px) {
            margin-right: 2.875em;

            &:nth-child(4) {
                margin-right: 0;
            }
        }

        span {
            color: #4D5F65;
            margin-left: 0.75em;
        }
    }

    &__button {
        margin-top: 2.5em;
        @media (min-width: 768px) {
            margin-top: 4.25em;
        }
    }

    // Input text and textarea ================================================
    input:not([type]),
    input[type=date],
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    textarea {
        background-color: $color_white;
        border: 0.0625em solid;
        border-color: #DEE8EB;
        font-family: $main_font_family;
        color: #4D5F65;
        padding: 1.219em 1.5em;
        outline: none;
        font-size: 1em;
        font-weight: 400;
        border-radius: 0.3125em;
        transition: 0.3s;

        &:hover {
            border-color: darken(#DEE8EB, 20%);
        }

        &:focus {
            border-color: darken(#DEE8EB, 20%);
        }

        &.invalid {
            border-color: $color_danger;
        }

        // Placeholder for input +++++++++++++++
        @include placeholder {
            color: #4D5F65;
        }
    }

    input[type=search]::-webkit-search-cancel-button,
    input[type=search]::-webkit-search-decoration {
        appearance: none;
    }

    /* Для Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        height: auto;
        appearance: none;
        margin: 0;
    }
    /* Для Firefox */
    input[type=number] {
        appearance: textfield;
    }

    // Input checkbox and radio ===============================================
    input[type=checkbox] {
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: none;

        height: 1.375em;
        width: 1.375em;
        color: #DEE8EB;
        background: 0 0;
        border: 0.0625em solid;
        border-radius: 0.125em;
        overflow: hidden;
        vertical-align: middle;
        appearance: none;
        outline: 0;
        text-align: center;
        position: relative;

        transition: 0.3s;

        &:not(:disabled),
        &:not(:disabled) {
            cursor: pointer;
        }

        &:before,
        &:before {
            display: block;
        }

        &:disabled,
        &:disabled {
            color: #ddd;
        }
    }

    input[type=checkbox] {
        &:checked {
            background-color: $color_info;
            color: $color_info;
        }

        &:checked:before,
        &:indeterminate:before {
            content: "";
            width: 40%;
            height: 60%;
            color: $color_white;
            margin-top: -0.1875em;
            border-right: 0.0625em solid;
            border-bottom: 0.0625em solid;
            transform: rotate(45deg);
        }

        &:indeterminate:before {
            content: "";
        }

        &:disabled:checked:before,
        &:disabled:indeterminate:before {
            color: #aaa;
        }
    }

}
