.introduction {
    background-color: $main_color;
    color: $color_white;

    @media (min-width: 768px) {
        padding-top: 13.125em;

    }

    .section__title {
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }
    }

    .section__text {
        text-align: justify;
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__content {
        @media (min-width: 768px) {
            margin-top: 2.125em;
            width: 29.125em;
        }
    }

    &__label {
        text-transform: uppercase;

        span {
            font-size: 0.75em;
            font-weight: 600;
        }
    }

    &__btn {
        margin-top: 1.5em;
        text-align: right;
        @media (min-width: 768px) {
            margin-top: 2.5em;
            text-align: left;
        }
    }

    &__gallery {
        position: relative;
        flex: none;
        width: 44.375em;
        height: 45.75em;
        font-size: 0.3em;
        margin-top: -18em;
        @media (min-width: 768px) {
            margin-top: 0;
            font-size: 1em;
        }
    }

    &__img {
        position: absolute;
        width: 29em;
        height: 29em;

        &:first-child {
            top: 0;
            right: 0;
            z-index: 1;
        }

        &:last-child {
            bottom: 0;
            left: 0;
        }
    }

}
