.portfolio {
    padding: 8.75em 0 2.5em;

    &__cat {
        .cat-list {
            margin: 0;
            padding: 0;
            list-style: none;

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 1.25em;
        }

        .cat-item {
            a {
                display: block;
                text-decoration: none;
                color: $main_color;

                span {
                    display: inline-block;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    font-size: 0.875em;
                    font-weight: 600;

                    margin-top: 1.7143em;
                }
            }

            &.current-cat,
            &:hover {
                .cat-img {
                    &:before {
                        border-color: #159AA3;
                    }

                    img {
                        transform: scale(0.9);
                    }
                }
            }
        }

        .cat-img {
            position: relative;
            width: 13.9375em;
            height: 13.9375em;
            border-radius: 0.625em;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 13.9375em;
                height: 13.9375em;
                border-radius: 0.625em;

                border: 0.125em solid;
                border-color: transparent;
                transition: 0.3s;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1);
                transition: 0.3s;
            }
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        border: 1px solid red;
        margin-bottom: 6.25em;

        &:nth-child(1) {
            align-self: flex-end;
            margin-right: auto;
        }

        &:nth-child(4),
        &:nth-child(7) {
            margin-left: auto;
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(7) {
            .portfolio__img {
                width: 29.1875em;
                height: 24.6875em;
            }
        }

        &:nth-child(5) {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 37.5em;
            padding: 4.375em;

            .portfolio__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .portfolio__content {
                position: relative;
                display: block;
            }

            .portfolio__link {
                display: none;
            }

            .portfolio__btn {
                display: block;
            }
        }
    }

    &__img {
        width: 44.375em;
        height: 37.5em;
    }

    &__content {
        display: none;

        width: 25em;
        color: $color_white;
    }

    &__title {
        font-family: $second_font_family;
        font-weight: 400;
        font-size: 1em;

        letter-spacing: 0.1em;
        text-transform: uppercase;
        line-height: 1.6;

        span {
            display: inline-block;
            font-size: 1.5em;
        }
    }

    &__text {
        margin-top: 1em;
    }

    &__btn {
        @media (min-width: 768px) {
            display: none;
            position: absolute;
            bottom: 3.125em;
            right: 4.375em;
        }
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        color: $main_color;
        font-size: 1.125em;
        font-weight: 600;
        text-decoration: none;
        margin-top: 1.75em;
    }

}
