.reconstruction {
    padding: 3.5em 0;
    @media (min-width: 768px) {
        padding: 10em 0;
    }

    .section__title {
        @media (min-width: 768px) {
            width: 38.125em;
        }
    }

    .section__text {
        color: $color_primary;
        text-align: justify;
        margin-top: 1.25em;

        @media (min-width: 768px) {
            margin-top: 2.25em;
            width: 29.375em;
        }

    }

    &__list {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 5em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(30.75em, auto);
            grid-column-gap: 14em;
            grid-row-gap: 3.75em;
        }
    }

    &__item {
        display: block;
        text-decoration: none;
        margin-bottom: 1.5em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;

            &:nth-child(2n) {
                transform: translateY(-8.4375em);
            }
        }
    }

    &__img {
        width: 100%;
        height: 15.625em;
        @media (min-width: 768px) {
            height: 27.5em;

        }
    }

    &__title {
        text-transform: uppercase;
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }

        span {
            display: inline-block;
            font-size: 1.125em;
            font-weight: 600;
            color: $main_color;
        }
    }

}
