.story {
    .section__title {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2em;
        }
    }

    padding: 1.5em 0;

    @media (min-width: 768px) {
        padding: 6em 0;
        position: relative;
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__content {
        @media (min-width: 768px) {
            width: 38.75em;
        }
    }

    &__text {
        text-align: justify;
        line-height: 1.25;

        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.5em;

        }

        span {
            color: $color_primary;
            font-size: 0.875em;
        }
    }

    &__video {
        margin: 1.5em auto 0;
        @media (min-width: 768px) {
            margin: 0;
            position: relative;
            z-index: 1;
            margin-left: 14.5em;
        }
    }

    &__img {
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 43.375em;
        }
    }

}
