/* Global variables */
/* ======================================================================== */
$main_font_family: "Gilroy";
$second_font_family: "Alokary";
$numbers_font_family: "Gallient";

$main_color: #006083;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 91.875em;

// Color collection for elements
$color_white: #ffffff;
$color_black: #000000;

$color_info: #159AA3;
$color_primary: #607076;
$color_warning: #B99E63;

$color_success: #36a566;
$color_danger: #ff1a1a;