{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1685185612251.6042,
          "ctimeMs": 1685185612251.6042,
          "date": "2023-05-27T11:06:52.566Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422000,
          "ctimeMs": 1683895211509.7896,
          "date": "2023-05-17T12:42:15.186Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1664980959000,
          "ctimeMs": 1683895211891.5815,
          "date": "2023-05-17T12:42:15.486Z"
        },
        {
          "file": "fonts/Alokary/Alokary-PersonalUse.eot",
          "mtimeMs": 1684009632879.7532,
          "ctimeMs": 1684009632879.7532,
          "date": "2023-05-17T12:42:15.706Z"
        },
        {
          "file": "fonts/Alokary/Alokary-PersonalUse.ttf",
          "mtimeMs": 1684009632880.4844,
          "ctimeMs": 1684009632880.4844,
          "date": "2023-05-17T12:42:15.918Z"
        },
        {
          "file": "fonts/Alokary/Alokary-PersonalUse.woff",
          "mtimeMs": 1684009632880.8882,
          "ctimeMs": 1684009632880.8882,
          "date": "2023-05-17T12:42:16.073Z"
        },
        {
          "file": "fonts/Alokary/Alokary-PersonalUse.woff2",
          "mtimeMs": 1684009632881.2188,
          "ctimeMs": 1684009632881.2188,
          "date": "2023-05-17T12:42:16.237Z"
        },
        {
          "file": "fonts/Alokary/demo.html",
          "mtimeMs": 1684009632881.636,
          "ctimeMs": 1684078516384.2893,
          "date": "2023-05-17T12:42:16.375Z"
        },
        {
          "file": "fonts/Alokary/stylesheet.css",
          "mtimeMs": 1684009632881.945,
          "ctimeMs": 1684009632881.945,
          "date": "2023-05-17T12:42:16.519Z"
        },
        {
          "file": "fonts/Gallient/Gallient-Regular.eot",
          "mtimeMs": 1684009632883.081,
          "ctimeMs": 1684009632883.081,
          "date": "2023-05-17T12:42:16.720Z"
        },
        {
          "file": "fonts/Gallient/Gallient-Regular.ttf",
          "mtimeMs": 1684009632884.1052,
          "ctimeMs": 1684009632884.1052,
          "date": "2023-05-17T12:42:16.905Z"
        },
        {
          "file": "fonts/Gallient/Gallient-Regular.woff",
          "mtimeMs": 1684009632884.6655,
          "ctimeMs": 1684009632884.6655,
          "date": "2023-05-17T12:42:17.086Z"
        },
        {
          "file": "fonts/Gallient/Gallient-Regular.woff2",
          "mtimeMs": 1684009632885.0325,
          "ctimeMs": 1684009632885.0325,
          "date": "2023-05-17T12:42:17.259Z"
        },
        {
          "file": "fonts/Gallient/demo.html",
          "mtimeMs": 1684009632885.2834,
          "ctimeMs": 1684009632885.2834,
          "date": "2023-05-17T12:42:17.407Z"
        },
        {
          "file": "fonts/Gallient/stylesheet.css",
          "mtimeMs": 1684009632885.6143,
          "ctimeMs": 1684009632885.6143,
          "date": "2023-05-17T12:42:17.553Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Bold.eot",
          "mtimeMs": 1684009632886.4214,
          "ctimeMs": 1684009632886.4214,
          "date": "2023-05-17T12:42:17.719Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Bold.ttf",
          "mtimeMs": 1684009632887.0994,
          "ctimeMs": 1684009632887.0994,
          "date": "2023-05-17T12:42:17.887Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Bold.woff",
          "mtimeMs": 1684009632887.5703,
          "ctimeMs": 1684009632887.5703,
          "date": "2023-05-17T12:42:18.038Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Bold.woff2",
          "mtimeMs": 1684009632887.8396,
          "ctimeMs": 1684009632887.8396,
          "date": "2023-05-17T12:42:18.219Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Medium.eot",
          "mtimeMs": 1684009632888.4746,
          "ctimeMs": 1684009632888.4746,
          "date": "2023-05-17T12:42:18.389Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Medium.ttf",
          "mtimeMs": 1684009632889.1694,
          "ctimeMs": 1684009632889.1694,
          "date": "2023-05-17T12:42:18.570Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Medium.woff",
          "mtimeMs": 1684009632889.5945,
          "ctimeMs": 1684009632889.5945,
          "date": "2023-05-17T12:42:18.740Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Medium.woff2",
          "mtimeMs": 1684009632889.9683,
          "ctimeMs": 1684009632889.9683,
          "date": "2023-05-17T12:42:18.901Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Regular.eot",
          "mtimeMs": 1684009632890.7158,
          "ctimeMs": 1684009632890.7158,
          "date": "2023-05-17T12:42:19.072Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Regular.ttf",
          "mtimeMs": 1684009632891.5579,
          "ctimeMs": 1684009632891.5579,
          "date": "2023-05-17T12:42:19.257Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Regular.woff",
          "mtimeMs": 1684009632892.1755,
          "ctimeMs": 1684009632892.1755,
          "date": "2023-05-17T12:42:19.435Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-Regular.woff2",
          "mtimeMs": 1684009632892.5537,
          "ctimeMs": 1684009632892.5537,
          "date": "2023-05-17T12:42:19.594Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-SemiBold.eot",
          "mtimeMs": 1684009632893.3574,
          "ctimeMs": 1684009632893.3574,
          "date": "2023-05-17T12:42:19.777Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-SemiBold.ttf",
          "mtimeMs": 1684009632894.2747,
          "ctimeMs": 1684009632894.2747,
          "date": "2023-05-17T12:42:19.969Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-SemiBold.woff",
          "mtimeMs": 1684009632894.817,
          "ctimeMs": 1684009632894.817,
          "date": "2023-05-17T12:42:20.136Z"
        },
        {
          "file": "fonts/Gilroy/Gilroy-SemiBold.woff2",
          "mtimeMs": 1684009632895.1592,
          "ctimeMs": 1684009632895.1592,
          "date": "2023-05-17T12:42:20.286Z"
        },
        {
          "file": "fonts/Gilroy/demo.html",
          "mtimeMs": 1684009632895.4768,
          "ctimeMs": 1684009632895.4768,
          "date": "2023-05-17T12:42:20.452Z"
        },
        {
          "file": "fonts/Gilroy/stylesheet.css",
          "mtimeMs": 1684009632895.7375,
          "ctimeMs": 1684009632895.7375,
          "date": "2023-05-17T12:42:20.591Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.0186,
          "date": "2023-05-26T11:41:03.484Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.041,
          "date": "2023-05-26T11:41:03.616Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.0005,
          "date": "2023-05-26T11:41:03.726Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173411.9795,
          "date": "2023-05-26T11:41:03.842Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173411.9133,
          "date": "2023-05-26T11:41:04.001Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173411.9368,
          "date": "2023-05-26T11:41:04.146Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.151,
          "date": "2023-05-26T11:41:04.292Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.1726,
          "date": "2023-05-26T11:39:56.802Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.115,
          "date": "2023-05-26T11:41:04.424Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1685101160000,
          "ctimeMs": 1685101173412.1338,
          "date": "2023-05-26T11:41:04.548Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666358151000,
          "ctimeMs": 1683895211710.939,
          "date": "2023-05-17T12:42:26.200Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1684502501582.4512,
          "ctimeMs": 1684502501582.4512,
          "date": "2023-05-19T13:21:41.919Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1683895211715.0723,
          "date": "2023-05-17T12:42:26.483Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1683895211713.54,
          "date": "2023-05-17T12:42:26.600Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1685201278695.6584,
          "ctimeMs": 1685201278695.6584,
          "date": "2023-05-27T15:27:59.006Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1664980873000,
          "ctimeMs": 1683895211700.8994,
          "date": "2023-05-17T12:42:26.885Z"
        },
        {
          "file": "layout/modal.html",
          "mtimeMs": 1679582720000,
          "ctimeMs": 1683895211673.7998,
          "date": "2023-05-17T12:42:27.001Z"
        },
        {
          "file": "pages/contacts/index.html",
          "mtimeMs": 1684502815525.797,
          "ctimeMs": 1684502815525.797,
          "date": "2023-05-19T13:26:55.843Z"
        },
        {
          "file": "pages/home/index.html",
          "mtimeMs": 1684327831433.4126,
          "ctimeMs": 1684327831433.4126,
          "date": "2023-05-17T15:29:23.636Z"
        },
        {
          "file": "pages/service/index.html",
          "mtimeMs": 1684941735440.6567,
          "ctimeMs": 1684941735440.6567,
          "date": "2023-05-24T15:22:15.969Z"
        },
        {
          "file": "pages/blogpage/index.html",
          "mtimeMs": 1684768265719.5906,
          "ctimeMs": 1684768265719.5906,
          "date": "2023-05-22T15:11:06.075Z"
        },
        {
          "file": "pages/portfolio/index.html",
          "mtimeMs": 1685185375746.5354,
          "ctimeMs": 1685185375746.5354,
          "date": "2023-05-27T11:04:28.683Z"
        },
        {
          "file": "pages/project/index.html",
          "mtimeMs": 1684943181208.2278,
          "ctimeMs": 1684943181208.2278,
          "date": "2023-05-24T15:46:21.779Z"
        },
        {
          "file": "img/materials.jpg",
          "mtimeMs": 1684174031997.5942,
          "ctimeMs": 1684227988384.1692,
          "date": "2023-05-17T12:42:22.857Z"
        },
        {
          "file": "img/blog.webp",
          "mtimeMs": 1684152707618.9116,
          "ctimeMs": 1684152792306.802,
          "date": "2023-05-17T12:42:22.219Z"
        },
        {
          "file": "img/introduction_1.jpg",
          "mtimeMs": 1684167767160.8271,
          "ctimeMs": 1684167877316.147,
          "date": "2023-05-17T12:42:22.408Z"
        },
        {
          "file": "img/introduction_2.jpg",
          "mtimeMs": 1684167778916.495,
          "ctimeMs": 1684167877322.8516,
          "date": "2023-05-17T12:42:22.622Z"
        },
        {
          "file": "img/portfolio.webp",
          "mtimeMs": 1684152760340.032,
          "ctimeMs": 1684161457519.9783,
          "date": "2023-05-17T12:42:23.034Z"
        },
        {
          "file": "img/project.webp",
          "mtimeMs": 1684152739705.2368,
          "ctimeMs": 1684162306700.0918,
          "date": "2023-05-17T12:42:23.201Z"
        },
        {
          "file": "img/project_sm.jpg",
          "mtimeMs": 1684162289490.04,
          "ctimeMs": 1684162322038.1545,
          "date": "2023-05-17T12:42:23.350Z"
        },
        {
          "file": "img/service.webp",
          "mtimeMs": 1684152690329.8708,
          "ctimeMs": 1684152792313.7715,
          "date": "2023-05-17T12:42:26.079Z"
        },
        {
          "file": "img/projects_1.jpg",
          "mtimeMs": 1684229212561.8618,
          "ctimeMs": 1684230498738.7097,
          "date": "2023-05-17T12:42:24.013Z"
        },
        {
          "file": "img/projects_10.jpg",
          "mtimeMs": 1684230471258.508,
          "ctimeMs": 1684230498797.3738,
          "date": "2023-05-17T12:42:24.240Z"
        },
        {
          "file": "img/projects_11.jpg",
          "mtimeMs": 1684230481969.339,
          "ctimeMs": 1684317550097.0535,
          "date": "2023-05-17T12:42:24.483Z"
        },
        {
          "file": "img/projects_2.jpg",
          "mtimeMs": 1684229223714.7295,
          "ctimeMs": 1684234442867.1143,
          "date": "2023-05-17T12:42:24.692Z"
        },
        {
          "file": "img/projects_3.jpg",
          "mtimeMs": 1684229237969.9126,
          "ctimeMs": 1684230498751.5725,
          "date": "2023-05-17T12:42:24.877Z"
        },
        {
          "file": "img/projects_4.jpg",
          "mtimeMs": 1684230353094.9377,
          "ctimeMs": 1684230498757.8496,
          "date": "2023-05-17T12:42:25.038Z"
        },
        {
          "file": "img/projects_5.jpg",
          "mtimeMs": 1684230364775.2544,
          "ctimeMs": 1684230498764.1675,
          "date": "2023-05-17T12:42:25.206Z"
        },
        {
          "file": "img/projects_6.jpg",
          "mtimeMs": 1684230376892.0024,
          "ctimeMs": 1684230498770.5635,
          "date": "2023-05-17T12:42:25.385Z"
        },
        {
          "file": "img/projects_7.jpg",
          "mtimeMs": 1684230389964.2654,
          "ctimeMs": 1684230498776.8499,
          "date": "2023-05-17T12:42:25.534Z"
        },
        {
          "file": "img/projects_8.jpg",
          "mtimeMs": 1684230403647.2922,
          "ctimeMs": 1684230498783.1077,
          "date": "2023-05-17T12:42:25.686Z"
        },
        {
          "file": "img/projects_9.jpg",
          "mtimeMs": 1684230422613.506,
          "ctimeMs": 1684240299890.1965,
          "date": "2023-05-17T12:42:25.886Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1685201657585.4832,
          "ctimeMs": 1685201657585.4832,
          "date": "2023-05-27T15:34:18.095Z"
        },
        {
          "file": "js/jquery.marquee.min.js",
          "mtimeMs": 1684327885312.6946,
          "ctimeMs": 1684327885312.6946,
          "date": "2023-05-17T12:51:25.637Z"
        },
        {
          "file": "img/arrow_bottom_left.svg",
          "mtimeMs": 1684331650318.7825,
          "ctimeMs": 1684331747919.6199,
          "date": "2023-05-17T15:29:22.040Z"
        },
        {
          "file": "img/arrow_bottom_right.svg",
          "mtimeMs": 1684331616613.9512,
          "ctimeMs": 1684331747912.5757,
          "date": "2023-05-17T15:29:22.144Z"
        },
        {
          "file": "img/arrow_left.svg",
          "mtimeMs": 1684331713291.0703,
          "ctimeMs": 1684331747905.6177,
          "date": "2023-05-17T15:29:22.254Z"
        },
        {
          "file": "img/arrow_right.svg",
          "mtimeMs": 1684331583738.7651,
          "ctimeMs": 1684331747926.426,
          "date": "2023-05-17T15:29:22.358Z"
        },
        {
          "file": "img/process_1.svg",
          "mtimeMs": 1684331153159.8198,
          "ctimeMs": 1684331183155.6018,
          "date": "2023-05-17T15:29:22.473Z"
        },
        {
          "file": "img/process_2.svg",
          "mtimeMs": 1684331356885.7737,
          "ctimeMs": 1684331517836.288,
          "date": "2023-05-17T15:29:22.574Z"
        },
        {
          "file": "img/process_3.svg",
          "mtimeMs": 1684331373960.259,
          "ctimeMs": 1684331517828.7412,
          "date": "2023-05-17T15:29:22.684Z"
        },
        {
          "file": "img/process_4.svg",
          "mtimeMs": 1684331390371.0532,
          "ctimeMs": 1684331517821.2688,
          "date": "2023-05-17T15:29:22.787Z"
        },
        {
          "file": "img/process_5.svg",
          "mtimeMs": 1684331453105.7576,
          "ctimeMs": 1684331517814.631,
          "date": "2023-05-17T15:29:22.903Z"
        },
        {
          "file": "img/process_6.svg",
          "mtimeMs": 1684331469438.743,
          "ctimeMs": 1684331517806.143,
          "date": "2023-05-17T15:29:23.013Z"
        },
        {
          "file": "img/process_7.svg",
          "mtimeMs": 1684331483825.9792,
          "ctimeMs": 1684331517787.361,
          "date": "2023-05-17T15:29:23.134Z"
        },
        {
          "file": "img/process_8.svg",
          "mtimeMs": 1684331503428.2952,
          "ctimeMs": 1684331517780.7498,
          "date": "2023-05-17T15:29:23.251Z"
        },
        {
          "file": "img/faq.webp",
          "mtimeMs": 1684502242335.1318,
          "ctimeMs": 1684502248495.7932,
          "date": "2023-05-19T13:57:16.473Z"
        },
        {
          "file": "img/reconstruction_1.jpg",
          "mtimeMs": 1684500727947.6746,
          "ctimeMs": 1684500818242.9644,
          "date": "2023-05-19T13:57:16.737Z"
        },
        {
          "file": "img/reconstruction_2.jpg",
          "mtimeMs": 1684500739538.8276,
          "ctimeMs": 1684500818250.1816,
          "date": "2023-05-19T13:57:16.960Z"
        },
        {
          "file": "img/reconstruction_3.jpg",
          "mtimeMs": 1684500747722.379,
          "ctimeMs": 1684500818258.1008,
          "date": "2023-05-19T13:57:17.192Z"
        },
        {
          "file": "img/reconstruction_4.jpg",
          "mtimeMs": 1684500757212.3232,
          "ctimeMs": 1684500818265.49,
          "date": "2023-05-19T13:57:17.432Z"
        },
        {
          "file": "img/reconstruction_5.jpg",
          "mtimeMs": 1684500767346.847,
          "ctimeMs": 1684500818290.0645,
          "date": "2023-05-19T13:57:17.666Z"
        },
        {
          "file": "img/reconstruction_6.jpg",
          "mtimeMs": 1684500779663.8862,
          "ctimeMs": 1684501775820.132,
          "date": "2023-05-19T13:57:17.936Z"
        },
        {
          "file": "img/services_1.jpg",
          "mtimeMs": 1684494963018.8806,
          "ctimeMs": 1684497513559.6384,
          "date": "2023-05-19T13:57:18.151Z"
        },
        {
          "file": "img/services_2.jpg",
          "mtimeMs": 1684494972936.5818,
          "ctimeMs": 1684495001609.605,
          "date": "2023-05-19T13:57:18.355Z"
        },
        {
          "file": "img/services_3.jpg",
          "mtimeMs": 1684494982410.6553,
          "ctimeMs": 1684495001602.6482,
          "date": "2023-05-19T13:57:18.570Z"
        },
        {
          "file": "img/blog_1.jpg",
          "mtimeMs": 1684751736511.4824,
          "ctimeMs": 1684751826546.946,
          "date": "2023-05-22T14:52:26.537Z"
        },
        {
          "file": "img/blog_2.jpg",
          "mtimeMs": 1684751758097.115,
          "ctimeMs": 1684751826554.318,
          "date": "2023-05-22T14:52:26.869Z"
        },
        {
          "file": "img/blog_3.jpg",
          "mtimeMs": 1684751766429.992,
          "ctimeMs": 1684751826561.0728,
          "date": "2023-05-22T14:52:27.081Z"
        },
        {
          "file": "img/blog_4.jpg",
          "mtimeMs": 1684751779589.5952,
          "ctimeMs": 1684751826567.7932,
          "date": "2023-05-22T14:52:27.297Z"
        },
        {
          "file": "img/blog_5.jpg",
          "mtimeMs": 1684751789024.5593,
          "ctimeMs": 1684751826574.3057,
          "date": "2023-05-22T14:52:27.541Z"
        },
        {
          "file": "img/blog_6.jpg",
          "mtimeMs": 1684751796806.0845,
          "ctimeMs": 1684751826581.4985,
          "date": "2023-05-22T14:52:27.765Z"
        },
        {
          "file": "img/blog_7.jpg",
          "mtimeMs": 1684751805138.8967,
          "ctimeMs": 1684765777626.137,
          "date": "2023-05-22T14:52:27.991Z"
        },
        {
          "file": "pages/blogsingle/index.html",
          "mtimeMs": 1684921841384.1384,
          "ctimeMs": 1684921841384.1384,
          "date": "2023-05-24T09:50:41.919Z"
        },
        {
          "file": "pages/about/index.html",
          "mtimeMs": 1685197340062.3645,
          "ctimeMs": 1685197340062.3645,
          "date": "2023-05-27T14:22:20.391Z"
        },
        {
          "file": "img/approach.jpg",
          "mtimeMs": 1685013537088.6956,
          "ctimeMs": 1685013872322.2517,
          "date": "2023-05-26T11:41:04.748Z"
        },
        {
          "file": "img/approach_mask.webp",
          "mtimeMs": 1685014528684.4172,
          "ctimeMs": 1685014544098.676,
          "date": "2023-05-26T11:41:04.840Z"
        },
        {
          "file": "img/dashed.webp",
          "mtimeMs": 1684938419054.6042,
          "ctimeMs": 1684938439458.603,
          "date": "2023-05-26T11:41:05.403Z"
        },
        {
          "file": "img/ourteam_1.jpg",
          "mtimeMs": 1684951742952.0164,
          "ctimeMs": 1685010296243.0466,
          "date": "2023-05-26T11:41:05.560Z"
        },
        {
          "file": "img/ourteam_2.jpg",
          "mtimeMs": 1684951755978.1177,
          "ctimeMs": 1684951858684.786,
          "date": "2023-05-26T11:41:05.703Z"
        },
        {
          "file": "img/scope.jpg",
          "mtimeMs": 1684932777849.2954,
          "ctimeMs": 1684936847794.4792,
          "date": "2023-05-26T11:41:05.939Z"
        },
        {
          "file": "img/singleblog_1.jpg",
          "mtimeMs": 1684769714900.1162,
          "ctimeMs": 1684770531102.9531,
          "date": "2023-05-26T11:41:06.334Z"
        },
        {
          "file": "img/singleblog_2.jpg",
          "mtimeMs": 1684769739920.6353,
          "ctimeMs": 1684770531095.855,
          "date": "2023-05-26T11:41:06.671Z"
        },
        {
          "file": "img/singleblog_3.jpg",
          "mtimeMs": 1684769760343.894,
          "ctimeMs": 1684770531088.4036,
          "date": "2023-05-26T11:41:07.322Z"
        },
        {
          "file": "img/story.jpg",
          "mtimeMs": 1684949141617.3018,
          "ctimeMs": 1684949259878.9695,
          "date": "2023-05-26T11:41:08.009Z"
        },
        {
          "file": "img/testimonials.jpg",
          "mtimeMs": 1685100668517.4348,
          "ctimeMs": 1685100846018.9414,
          "date": "2023-05-26T11:41:08.103Z"
        },
        {
          "file": "img/video_bg.webp",
          "mtimeMs": 1684949560293.614,
          "ctimeMs": 1684949567694.985,
          "date": "2023-05-26T11:41:08.248Z"
        },
        {
          "file": "css/sections/testimonials.css",
          "mtimeMs": 1685101313973.88,
          "ctimeMs": 1685101313973.88,
          "date": "2023-05-26T11:41:54.300Z"
        },
        {
          "file": "img/cat_1.jpg",
          "mtimeMs": 1685185375723.351,
          "ctimeMs": 1685185375723.351,
          "date": "2023-05-27T11:04:25.671Z"
        },
        {
          "file": "img/cat_2.jpg",
          "mtimeMs": 1685185375724.0063,
          "ctimeMs": 1685185375724.0063,
          "date": "2023-05-27T11:04:25.818Z"
        },
        {
          "file": "img/cat_3.jpg",
          "mtimeMs": 1685185375724.4983,
          "ctimeMs": 1685185375724.4983,
          "date": "2023-05-27T11:04:25.961Z"
        },
        {
          "file": "img/cat_4.jpg",
          "mtimeMs": 1685185375725.1426,
          "ctimeMs": 1685185375725.1426,
          "date": "2023-05-27T11:04:26.106Z"
        },
        {
          "file": "img/cat_5.jpg",
          "mtimeMs": 1685185375725.7747,
          "ctimeMs": 1685185375725.7747,
          "date": "2023-05-27T11:04:26.308Z"
        },
        {
          "file": "img/cat_6.jpg",
          "mtimeMs": 1685185375726.4055,
          "ctimeMs": 1685185375726.4055,
          "date": "2023-05-27T11:04:26.475Z"
        },
        {
          "file": "img/exterior.webp",
          "mtimeMs": 1685107416582.0215,
          "ctimeMs": 1685107443720.09,
          "date": "2023-05-27T11:04:26.630Z"
        },
        {
          "file": "img/portfolio_1.jpg",
          "mtimeMs": 1685185375727.6233,
          "ctimeMs": 1685185375727.6233,
          "date": "2023-05-27T11:04:26.804Z"
        },
        {
          "file": "img/portfolio_2.jpg",
          "mtimeMs": 1685185375731.7358,
          "ctimeMs": 1685185375731.7358,
          "date": "2023-05-27T11:04:27.105Z"
        },
        {
          "file": "img/portfolio_3.jpg",
          "mtimeMs": 1685185375733.8389,
          "ctimeMs": 1685185375733.8389,
          "date": "2023-05-27T11:04:27.314Z"
        },
        {
          "file": "img/portfolio_4.jpg",
          "mtimeMs": 1685185375735.7537,
          "ctimeMs": 1685185375735.7537,
          "date": "2023-05-27T11:04:27.590Z"
        },
        {
          "file": "img/portfolio_5.jpg",
          "mtimeMs": 1685185375741.1428,
          "ctimeMs": 1685185375741.1428,
          "date": "2023-05-27T11:04:28.012Z"
        },
        {
          "file": "img/portfolio_6.jpg",
          "mtimeMs": 1685185375744.8093,
          "ctimeMs": 1685185375744.8093,
          "date": "2023-05-27T11:04:28.310Z"
        },
        {
          "file": "img/portfolio_7.jpg",
          "mtimeMs": 1685185375746.1987,
          "ctimeMs": 1685185375746.1987,
          "date": "2023-05-27T11:04:28.517Z"
        },
        {
          "file": "pages/testimonials/index.html",
          "mtimeMs": 1685201032392.6472,
          "ctimeMs": 1685201032392.6472,
          "date": "2023-05-27T15:23:53.011Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "css/style.css",
        "config": {
          "customOutput": "css/style.css"
        }
      },
      {
        "file": "scss/style.scss",
        "config": {
          "customOutput": "style.css"
        }
      },
      {
        "file": "style.css",
        "config": {
          "sourceMap": true,
          "customOutput": "style.css"
        }
      }
    ]
  }
}
