.breadcrumbs {
	.aioseo-breadcrumbs {
		a,
		span {
			color: rgba($color_white, 1);
			text-transform: uppercase;

		}

		span {
			font-size: 0.75em;
			font-weight: 700;
			font-style: italic;
		}

		a {
			text-decoration: none;
			font-size: 1em;
			font-weight: 400;
			font-style: normal;

		}

		.aioseo-breadcrumb-separator {
			margin-left: 0.25em;
			margin-right: 0.5em;
		}
	}

}
