// Style for button and pseudo button for input and link

.btn {
	display: inline-block;
	padding: 1em 2em;
	border-radius: 1em;
	border: none;
	outline: none;
	max-width: 100%;

	font-family: $main_font_family;
	font-size: 1em;
	font-weight: 400;
	text-decoration: none;
	text-align: center;

	color: $main_color;
	background-color: $color_primary;

	cursor: pointer;
	transition: 0.3s;

	&:hover {
		// background-color: $btn_default_bg_color_hover;
		// color: $btn_default_text_color;
	}

	&:active,
	&:focus {
		// background-color: $btn_default_bg_color_active;
		// color: $btn_default_text_color;
	}

	&:disabled {
		color: red;
		cursor: not-allowed;
		// pointer-events: none;
	}

}
