.video {
	&__wrap {
		position: relative;
		background-image: url("../img/video_bg.webp");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		width: 16.75em;
		height: 18.75em;
		font-size: 1.2799em;
		@media (min-width: 768px) {
			font-size: 1em;

		}

	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%)scale(1);

		display: flex;
		align-items: center;
		justify-content: center;

		width: 5.5em;
		height: 5.5em;
		border-radius: 100%;

		background-color: $color_info;
		color: $color_white;

		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: translate(-50%,-50%)scale(1.1);
		}

	}
}
