.video {
	&__wrap {
		position: relative;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%)scale(1);

		display: flex;
		align-items: center;
		justify-content: center;

		width: 5.5em;
		height: 5.5em;
		border-radius: 100%;

		background-color: $color_info;
		color: $color_white;

		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: translate(-50%,-50%)scale(1.1);
		}

	}
}
