extends ../../layout/layout.pug

block variable
    -var path = '../../';

block content
    // begin head
    section#head.head.head_sm.section
        .head__img
            img(src="../../img/project.webp", alt="alt")
        .container_center
            .head__content
                .breadcrumbs
                    .aioseo-breadcrumbs
                        span.aioseo-breadcrumb
                            a(href="#") Home 

                        span.aioseo-breadcrumb-separator /

                        span.aioseo-breadcrumb project page


                h1.section__title
                    span Pool installation in West Hills

                .head__preview
                    img(src="../../img/project_sm.jpg", alt="alt")


    // end head
