footer.footer

    .footer__top
        .container_center
            a(href="/").footer__logo
                span ehd builders

            .footer__row
                .footer__label
                    span MAIN OFFICE
                ul.footer__list.list
                    li
                        span 18375 Ventura Blvd.#122 Tarzana, CA 91356Lic #1034101
                    li
                        span Phone: 
                        a(href="#") (866) 585-2717
                    li
                        a(href="#") Email: info@ehdbuilders.com

            .footer__row
                .footer__label
                    span OTHER LOCATIONS
                ul.footer__list.list
                    li
                        span 111 N Market St suite 300 San Jose, CA 95113
                    li
                        a(href="#") Email: info@ehdbuilders.com

                ul.footer__list.list
                    li
                        span 3857 Birch StreetSuite 3209Newport Beach, CA 92660
                    li
                        a(href="#") Email: info@ehdbuilders.com

            .footer__row
                .messenger
                    .messenger__list
                        .messenger__item
                            a.messenger__link(href="#" target="_blank")
                                i.icon_facebook
                        .messenger__item
                            a.messenger__link(href="#" target="_blank")
                                i.icon_Instagram
                        .messenger__item
                            a.messenger__link(href="#" target="_blank")
                                i.icon_yelp
                        .messenger__item
                            a.messenger__link(href="#" target="_blank")
                                i.icon_house
            .footer__row
                a(href="#").footer__link Go back

    .footer__bottom
        .container_center
            span Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script> EPM Tech. All Rights Reserved.
