header.header
    .header__row
        .navbar__wrap
            .navbar__toggle
            //- nav.navbar#navbar
            //-     ul.menu
            //-         li.menu-item.current-menu-item
            //-             a(href="#") Home
            //-         li.menu-item
            //-             a(href="#") about
            //-         li.menu-item
            //-             a(href="#") What We Do
            //-         li.menu-item
            //-             a(href="#") Portfolio
            //-         li.menu-item
            //-             a(href="#") Client Stories
            //-         li.menu-item
            //-             a(href="#") Financing
            //-         li.menu-item
            //-             a(href="#") Free Estimate
            //-         li.menu-item
            //-             a(href="#") Blog

        .header__logo
            .header__col
                a(href="/").header__item
                    b ehd
                    span builders - enviromental home development

        .header__content.desktop
            .header__col
                a(href="tel:(866) 585-2717").header__item
                    b Phone:
                    span (866) 585-2717

                a(href="mailto:info@ehdbuilders.com").header__item
                    b Email:
                    span info@ehdbuilders.com

            .header__col
                .header__item
                    b Addres:
                    span 18375 Ventura Blvd. #122Tarzana, CA, 91356
