block variable
    -var path = '';
    //- -var page = true;
    //- -var pageClass = 'bg';

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")

        link(rel="stylesheet", type="text/css", href=path + "css/style.css")
        link(rel="stylesheet", type="text/css", href="https://fonts.cdnfonts.com/css/alokary")


    body

        //- begin preloader
        //- .preloader__wrap#preloader
        //-     .preloader
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //-         <div></div>
        //- end preloader

        .wrapper#wrapper
            include header.pug

            .navbar__wrap
                .navbar__toggle
                //- nav.navbar#navbar
                //-     ul.menu
                //-         li.menu-item.current-menu-item
                //-             a(href="#") Home
                //-         li.menu-item
                //-             a(href="#") about
                //-         li.menu-item
                //-             a(href="#") What We Do
                //-         li.menu-item
                //-             a(href="#") Portfolio
                //-         li.menu-item
                //-             a(href="#") Client Stories
                //-         li.menu-item
                //-             a(href="#") Financing
                //-         li.menu-item
                //-             a(href="#") Free Estimate
                //-         li.menu-item
                //-             a(href="#") Blog



            main.main_content
                block content

            include footer.pug

            //- begin toTop
            //- .toTop
            //-     a(href="#wrapper") 
            //-         i.icon_to_top
            //- end to

            include modal.pug

            include scripts.pug
