extends ../../layout/layout.pug

block variable
    -var path = '../../';

block content

    // begin singleblog
    section#singleblog.singleblog.section
        .singleblog__head
            .container_center
                .breadcrumbs
                    .aioseo-breadcrumbs
                        span.aioseo-breadcrumb
                            a(href="#") Home 

                        span.aioseo-breadcrumb-separator /

                        span.aioseo-breadcrumb
                            a(href="#") blog 

                        span.aioseo-breadcrumb-separator /

                        span.aioseo-breadcrumb Smooth Plaster vs. Shimmering Pebble

                .singleblog__wrap

                    .singleblog__description
                        h1.singleblog__title 
                            span Smooth Plaster vs. Shimmering Pebble: Which Swimming Pool Finish is Right for You?
                        .singleblog__info

                            .blog__date
                                span Apr 30, 2020

                            .blog__time
                                i.icon_time
                                span 5 min


                    ul.blog__hashtag
                        li
                            span #kitchen upgrades
                        li
                            span #kitchen upgrades

                .singleblog__img
                    img(src="../../img/singleblog_1.jpg", alt="alt")

        .container_center

            .singleblog__main

                .singleblog__aside
                    .aside
                        .aside__item
                            .aside__title
                                span Table of contents:
                            ul.aside__list
                                li
                                    span Smooth Plaster Finish
                                li
                                    span Shimmering Pebble Finish

                .section__content
                    p Both smooth plaster and shimmering pebble are viable options for swimming pool finishes. Smooth plaster is an affordable option with a clean and simple appearance, while shimmering pebble is a more durable option that adds a luxurious touch to the pool. The decision ultimately depends on personal preference, budget, and maintenance requirements.

                    h2 Smooth Plaster Finish

                    h3 Pros

                    ul
                        li Smooth plaster finish is an affordable option for swimming pool finishes.
                        li This finish is easy to install, and the application process is simple.
                        li It is a customizable option, and you can choose from various colors to achieve the desired look.
                        li The smooth finish feels nice to the touch and can be more comfortable for swimmers.

                    h3 Cons

                    ul 
                        li The cost of a smooth plaster finish is relatively low compared to other options, with an average cost of $5 to $7 per square foot.

                    h3 Maintenance

                    ul 
                        li Smooth plaster requires frequent maintenance, including regular brushing and acid washing to remove stains and prevent discoloration. The maintenance cost can vary depending on the size of the pool and the frequency of the maintenance.

                    h3 Visual Appeal:

                    ul
                        li Smooth plaster has a clean and simple look, and it is a popular option for those who prefer a classic, timeless appearance. The finish can be customized to achieve the desired color and texture.

                    .section__img
                        img(src="../../img/singleblog_2.jpg" alt="alt")

                    h2 Shimmering Pebble Finish

                    h3 Pros

                    ul
                        li Smooth plaster finish is an affordable option for swimming pool finishes.
                        li This finish is easy to install, and the application process is simple.
                        li It is a customizable option, and you can choose from various colors to achieve the desired look.
                        li The smooth finish feels nice to the touch and can be more comfortable for swimmers.

                    h3 Cons

                    ul 
                        li The cost of a smooth plaster finish is relatively low compared to other options, with an average cost of $5 to $7 per square foot.

                    h3 Maintenance

                    ul 
                        li Smooth plaster requires frequent maintenance, including regular brushing and acid washing to remove stains and prevent discoloration. The maintenance cost can vary depending on the size of the pool and the frequency of the maintenance.

                    h3 Visual Appeal:

                    ul
                        li Smooth plaster has a clean and simple look, and it is a popular option for those who prefer a classic, timeless appearance. The finish can be customized to achieve the desired color and texture.

                    .section__img
                        img(src="../../img/singleblog_3.jpg" alt="alt")

        .singleblog__next
            a(href="#") next article title





    // end singleblog
