extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section
        .container_center
            h2.section__title
                span Project navigation
            ul(style="font-size:1.25em;")
                //- li
                //-     a(href="../pages/home/") Главная 
                //- li
                //-     a(href="../pages/contacts/") Контакты 
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/service/" style="color:#006083") service (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/blogpage/" style="color:#006083") blog page (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/blogsingle/" style="color:#006083") blog single (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/project/" style="color:#006083") project page (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/portfolio/") portfolio (в работе)

    // end projectNaw


    // begin testcontent
    section#testcontent.testcontent.section
        .container_center
            h2.section__title
                span test content

            <br>

            .section__text
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    // end testcontent
