extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section
        .container_center
            h2.section__title
                span Project navigation
            ul(style="font-size:1.25em;")
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/service/" style="color:#006083") service (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/blogpage/" style="color:#006083") blog page (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/blogsingle/" style="color:#006083") blog single (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/project/" style="color:#006083") project page (готово)
                li(style="margin-bottom: 0.5em;")
                    a(href="../pages/about/" style="color:#006083") about (готово)
                li(style="margin-bottom: 0.5em;" )
                    a(href="../pages/portfolio/" style="color:#006083") portfolio (готово)
                li(style="margin-bottom: 0.5em;" )
                    a(href="../pages/testimonials/" style="color:#006083") testimonials (в работе)

    // end projectNaw
